<div class="container">

  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Vajillas</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Arreglos Florales</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Letras gigantes</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Manteles & Caminos de mesa</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Centros de mesa</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Pistas</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
  <div class="item">
    <div class="sub-title">
      <img class="ornament1" src="assets/img/ornament1.png">
      <div>Mobiliario</div>
      <img class="ornament1" src="assets/img/ornament1.png">
    </div>
    <div class="carousel">
      <img src="assets/img/vajillas/_ (1).jpg" alt="" />
      <img src="assets/img/vajillas/_ (2).jpg" alt="" />
      <img src="assets/img/vajillas/_ (3).jpg" alt="" />
      <img src="assets/img/vajillas/_ (4).jpg" alt="" />
      <img src="assets/img/vajillas/_ (5).jpg" alt="" />
      <img src="assets/img/vajillas/_ (6).jpg" alt="" />
      <img src="assets/img/vajillas/_ (7).jpg" alt="" />

    </div>
  </div>
</div>
